.main{
  margin-left: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  h2{
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
  }
}